
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body {
  opacity: 0;
  transition: 1s all ease;
  background: black;
}
#bg {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: black;
  background-size: cover;
  filter: blur(4px);
  transform: scale(1.5);
  transition: 5s all ease;
}
.content {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
#button {
  position: relative;
  border: 1.5px dashed white;
  border-radius: 10px;
  font-size: 1.2em;
  letter-spacing: 2px;
  color: white;
  background: rgba(0, 0, 0, 0.651);
  padding: 7px 15px;
  font-weight: 500;
  transition: 1s all ease;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
.link {
  position: fixed;
  z-index: 9998;
  bottom: 15px;
  left: 15px;
}
a {
  text-decoration: none;
  color: white;
  opacity: 0.25;
  display: block;
  font-size: 0.9em;
}
a.yt::after {
  content: "Youtube : Deka Tutorial";
}
a.tt::after {
  content: "Tiktok : @deka_tutorial";
}
.swal2-popup {
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: 1.5px solid white;
  border-radius: 10px;
  text-shadow: 0 0 5px black;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
.swal2-confirm.swal2-styled {
  background: none;
  color: white;
}
.swal2-confirm.swal2-styled::before {
  content: "[   ";
}
.swal2-confirm.swal2-styled::after {
  content: "   ]";
}
