* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

.bg {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: black;
  background-size: cover;
  filter: brightness(0.5);
  -webkit-filter: brightness(0.5);
}

.top {
  height: 190px;
  width: 190px;
  /* padding: 10px; */
  background: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 0 30px white, inset 0 0 20px rgba(0, 0, 0, 0.416), 0 0 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 80px;
  box-sizing: border-box;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.top img {
  max-width: 170px;
  max-height: 170px;
}

.top img:nth-child(2), .top img:nth-child(3) {
  display: none;
}

/* =========== */

#slider {
  display: flex;
  overflow: hidden;
  /* overflow-y: hidden; */
  width: 100%;
  margin: auto;
  height: fit-content;
  padding: 30px 0;
  padding-top: 50px;
  flex-flow: row nowrap;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
#slider::-webkit-scrollbar {
  display: none;
}
#slider p {
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
  scroll-snap-align: center;
  flex: none;
  width: 84%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px 20px;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 10px white, inset 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px black;
  border-radius: 10px;
}
#slider p:first-child {
  margin-left: 8%;
}
#slider p:last-child {
  margin-right: 8%;
}

/* ==================== */
.button {
  display: flex;
  justify-content: center;
}
.button div button {
  height: 45px;
  width: 100px;
  font-size: 1.1em;
  font-weight: 600;
  background: rgb(251, 255, 11);
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px white, inset 3px 3px 10px rgba(255, 255, 255, 0.53), inset -3px -3px 5px rgba(0, 0, 0, 0.308);
  transition: 0.5s ease all;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.button div button:disabled {
  background: rgb(224, 224, 224);
}

.button div:nth-child(1),
.button div:nth-child(2),
.button div:nth-child(3) {
  width: 220px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button div:nth-child(3) button {
  width: 130px !important;
}

/* ================ Pesan ===============*/
.container-pesan {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}
.kirim-pesan {
  width: 90vw;
  box-sizing: border-box;
  padding: 20px;
  display: block;
  margin: auto;
  max-width: 400px;
  text-align: center;
  background: rgb(255, 255, 255);
  border-radius: 15px;
  opacity: 0;

  transform: translateY(100px);
  transition: 0.5s ease all;
}

.kirim-pesan p {
  font-size: 1.5em;
  font-weight: 600;
  color: rgb(55, 55, 55);
  margin-bottom: 20px;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

textarea {
  font-size: 1.05em;
  font-weight: 500;
  resize: none;
  width: 95%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: rgb(226, 226, 226);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

form button {
  margin-top: 20px;
  height: 45px;
  width: 100px;
  font-size: 1.1em;
  font-weight: 600;
  background: rgb(251, 255, 11);
  border: 3px solid black;
  border-radius: 10px;
  transition: 0.5s ease all;
}

/* Preload */
.preload {
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preload p {
  color: #fff;
  animation: load 3s ease;
  -webkit-animation: load 1s ease infinite;
}

@keyframes load {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.open {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  background-color: black;
  background-size: cover;
}
.open div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.open div.lope {
  height: 70px;
  width: 70px;
  margin: 20px 0;
  margin-top: 60px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: anm 1s infinite ease;
  -webkit-animation: anm 1s infinite ease;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.open i {
  font-size: 2.3em;
  color: red;
}

.open h3 {
  font-weight: 500;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Lope */

.lopeBg {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: flex;
  justify-content: space-around;
  transition: 2s ease all;
  -webkit-transition: 2s ease all;
  -moz-transition: 2s ease all;
  -ms-transition: 2s ease all;
  -o-transition: 2s ease all;
}
.lopeBg span {
  position: relative;
  margin-top: -40px;
  animation: animate 5s linear infinite;
  opacity: 0.3;
  font-size: 25px;
}
.lopeBg span i {
  font-size: 30px;
}
@keyframes animate {
  0% {
    transform: translateY(0) scale(1);
  }
  90% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: translateY(110vh) scale(1);
  }
}
