@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
body {
  overflow-y: scroll;
}
header {
  position: sticky;
  z-index: 5;
  top: 0;
  height: 60px;
  /* margin: 0 20px; */
  color: white;
  letter-spacing: 3px;
  background: rgb(99, 195, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 0 0 20px 20px; */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
}
header::after {
  content: "DEKA TUTORIAL";
  font-size: 1.5em;
  font-weight: bold;
}
.content {
  /* position: fixed; */
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  overflow-y: scroll;
  width: 100vw;
  padding: 0 20px 50px;
}
body div {
  box-sizing: border-box;
  margin: 10px 20px;
  padding: 10px 20px;
  width: calc(100% - 40px);
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
p {
  margin: 5px 0;
  font-size: 1.1em;
  color: rgb(46, 46, 46);
  font-weight: 600;
}
p span {
  display: inline-block;
  width: 100px;
  font-weight: 400;
}
